h1{
  color: darkblue;
  font-size: 40px;
  text-align: center;
}
h2{
  color: blue;
  font-size: 40px;
  text-align: center;
}
h3{
  color: rgb(0, 97, 130);
  font-size:21px ;
}
nav{
  text-align: center;
}
ul{
  font-size: 18px;
  list-style-position: inside;
  text-align: center;
}
ol{
  text-align: center;
  list-style-position: inside;
}
img{
  height: 300px;
  width: 300pxs;
}